/* popup */

.popup {
  width: 328px;
  height: 499px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.popup__top {
  margin-top: 22px;
  width: 100%;
  height: 26px;
  display: flex;
  padding: 0 24px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}
.popup__top-title {
  color: #212121;
  font-size: 24px;
  font-weight: bold;
  height: 32px;
}

.popup-des {
  width: 280px;
  height: 37px;
  font-size: 14px;
  font-weight: 400;
  margin-top: 23px;
  line-height: 20px;
  color: #1f1f1f;
}

.popup-input-text {
  width: 280px;
  height: 63px;
  display: flex;
  flex-direction: column;
  margin-top: 14px;
}

.popup-input-text label {
  font-size: 14px;
  font-weight: bold;
}

.popup-input-text span {
  color: #e81e1e;
}

.popup-input-text input {
  width: 280px;
  height: 36px;
  outline: none;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding-left: 16px;
  box-sizing: border-box;
  margin-top: 8px;
}

.popup-input-text::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #9e9e9e;
  line-height: 20px;
}

.popup-input-radio-container {
  width: 280px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 14px;
}

.popup-input-radio__title {
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
}

.popup-input-radio {
  width: 100%;
  display: flex;
  margin-top: 16px;
}

.popup-input-radio__male {
  display: flex;
  align-items: center;
}

.popup-input-radio__female {
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.popup-input-radio__male label {
  margin-right: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #212121;
  margin-left: 8px;
}

.popup-input-radio__male input {
  width: 20px;
  height: 20px;
  border: 2px solid #666666;
}

.popup-input-radio__female label {
  margin-right: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #212121;
  margin-left: 8px;
}

.popup-input-radio__female input {
  width: 20px;
  height: 20px;
  border: 2px solid #666666;
}

.popup-footer {
  width: 328px;
  height: 60px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  justify-content: flex-end;
}

.popup-footer_btn {
  width: 80px;
  height: 36px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  border: none;
}

.popup-footer_btn.btn--cancel {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  color: #212121;
  margin-right: 8px;
}

.popup-footer_btn.btn--register {
  background-color: #50b83c;
  border: 1px solid #e0e0e0;
  color: #ffffff;
}

.container__right-popup {
  width: 1050px;
  height: 700px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999999;
  padding: 30px 30px 0 30px;
  border-radius: 4px;
}

.container__right-icon-wraper {
  display: block;
  align-items: center;

  right: 0;
  top: 0;
  padding: 20px;
}

.container__right-popup-top {
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
  justify-content: space-between;
}

.container__right-popup-body {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.container__right-popup-top span {
  font-size: 24px;
  font-weight: 500;
}

.container__right-popup-top div {
  display: flex;
  align-items: center;
}

.container__right-popup-top div input {
  display: flex;
  margin-left: 20px;
  width: 22px;
  height: 22px;
  margin-right: 20px;
}

.container__right-popup-body {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}

.container__right-popup-body-top {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.container__right-popup-body-top-left {
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  justify-content: space-between;
}

.container__right-popup-body-top-right {
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  justify-content: space-between;
}
.container__right-popup-body-top-left div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}

.container__right-popup-body-top-left div input {
  width: 100%;
  outline: none;
  height: 36px;
  padding-left: 10px;
}

.container__right-popup-body-top-right div input[type="text"] {
  width: 100%;
  outline: none;
  height: 36px;
  padding-left: 10px;
}

.container__right-popup-body-top-right div input[type="date"] {
  width: 100%;
  outline: none;
  height: 36px;
  padding-left: 10px;
}

.container__right-popup-body-top-right div input[type="date"]:focus {
  border: 1px solid #2ca01c;
}

.container__right-popup-body-top-right div input[type="radio"] {
  width: 22px;
  height: 22px;
}

.container__right-popup-body-top-right div:nth-child(2) input {
  margin: 0 5px;
}

.container__right-popup {
  z-index: 100;
}

.container__right-popup-body-top-right div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container__right-popup-body-top-left div label {
  margin: 20px 0 5px 0;
}

.container__right-popup-body-top-right div label {
  margin: 20px 0 5px 0;
}

.container__right-popup-body-top-right div:first-child {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.container__right-popup-body-top-right div:nth-child(2) {
  display: flex;
  flex-direction: column;
  width: 65%;
  justify-content: space-between;
}

.container__right-popup-body-top-right div:nth-child(2) div {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 36px;
}

.container__right-popup-body-top-right div:nth-child(2) div input {
  
}

.container__right-popup-body-top-right div:nth-child(2) div label {
  position: relative;
  bottom: 5px;
}

.container__right-popup-body-top-right div:nth-child(3) {
  width: 60%;
}

.container__right-popup-body-top-right div:nth-child(4) {
  width: 35%;
}

.container__right-popup-body-top-left div:first-child {
  width: 30%;
}
.container__right-popup-body-top-left div:nth-child(2) {
  width: 65%;
}

.container__right-popup-body-top-left div:nth-child(3) select {
  width: 100%;
  height: 32px;
  padding-left: 10px;
  outline: none;

}

.container__right-popup-body-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.container__right-popup-body-bottom div:first-child input {
  width: 100%;
  height: 32px;
  padding: 10px;
  outline: none;
}

.container__right-popup-body-bottom div:nth-child(2) {
  display: flex;
  align-items: center;
}

.container__right-popup-body-bottom div:nth-child(2) div {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-top: 20px;
  align-items: flex-start;
}

.container__right-popup-body-bottom div:nth-child(2) div input {
  height: 36px;
  width: 220px;
  padding-left: 10px;
  outline: none;
}

.container__right-popup-body-bottom div:nth-child(3) {
  display: flex;
  align-items: center;
}

.container__right-popup-body-bottom div:nth-child(3) div {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-top: 20px;
  align-items: flex-start;
}

.container__right-popup-body-bottom div:nth-child(3) div input {
  height: 36px;
  width: 220px;
  padding-left: 10px;
  outline: none;
}

.container__right-popup-body-bottom hr {
  margin-top: 40px;
}

.container__popup-footer {
  width: 100%;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.container__popup-footer div:first-child button {
  width: 80px;
  height: 36px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  border: none;
  color: white;
  margin-right: 8px;
  color: #212121;
  border: 1px solid #e0e0e0;
  background-color: #ffffff;
}

.container__popup-footer div:first-child button:hover {
  background-color: #d2d3d6;
  color: #1f1f1f;
}

.container__popup-footer div:last-child button {
  width: 80px;
  height: 36px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: roboto;
  font-weight: 500;
  font-size: 14px;
  border: none;
  color: white;
  margin-left: 8px;
  color: #212121;
  border: 1px solid #e0e0e0;
  background-color: #ffffff;
}

.container__popup-footer div:last-child button:last-child {
  width: 160px;
  background-color: #50b83c;
  color: white;
}

.container__popup-footer div:last-child button:hover {
  background-color: #5dc748;
  color: #ffffff;
}

.btn-keep-employee:hover {
  background-color: #d2d3d6 !important;
  color: #1f1f1f !important;
}

.container__right-popup-body-top-right div input[type="text"]:focus {
  border: 1px solid #2ca01c;
}

.container__right-popup-body-top-right div input {
  border: 1px solid rgba(128, 128, 128, 0.479);
}

.container__right-popup-body-top-left div input[type="text"] {
  border: 1px solid rgba(128, 128, 128, 0.479);
  height: 36px;
}

.container__right-popup-body-bottom div input[type="text"] {
  border: 1px solid rgba(128, 128, 128, 0.479);
  height: 36px;
  margin-top: 5px;
}

.container__right-popup-body-top-left div input[type="text"]:focus {
  border: 1px solid #2ca01c;
}

.container__right-popup-body-top-left div select:focus {
  border: 1px solid #2ca01c;
}

.container__right-popup-body-bottom div input[type="text"]:focus {
  border: 1px solid #2ca01c;
}

input[type="radio"] {
  accent-color: #2ca01c;
}

input[type="checkbox"] {
  accent-color: #2ca01c;
}

.dropdown-icon-wraper {
  width: 34px !important;
  height: 34px !important;
  position: absolute;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  right: 1px;
  bottom: 1px;
  transition: all 0.3s ease-in;
}

.dropdown-icon-wraper:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

.combobox-container {
  position: relative;
  width: 100% !important;
  margin-top: 0 !important;
}

.employee-unitname-list {
  position: absolute;
  top: 40px;
  border: 1px solid #e0e0e0;
  background-color: #ffffff;
  width: 100% !important;
  border-radius: 4px;
}

.employee-unitname-list li {
  list-style: none;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: left;
  cursor: pointer;
  color: #1f1f1f;
  padding-left: 20px;
  font-size: 14px;
}

.employee-unitname-list li:hover {
  background-color: #e0e0e083;
  color: #50b83c;
}

.container__right-main-footer-right {
  display: flex;
  align-items: center;
}

.container__footer-right-item-first {
  display: flex;
  height: 100%;
  align-items: center;
  width: 200px !important;
  margin-right: 20px;
}

.container__footer-right-item-first > span {
  color: #666666;
  font-weight: 400;
  font-size: 14px;
}

.container__footer-right-item-first div {
  display: flex;
  width: auto;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  position: relative;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  height: 36px;
}

.container__footer-right-item-first div span {
  font-weight: 400;
  font-size: 14px;
  color: #1f1f1f;
  padding-left: 10px;
}

.container__footer-right-item-second {
  display: flex;
  width: 120px;
  flex: 2;
  margin-right: 10px;
}
.container__footer-right-item-second div{
  width: 150px;
}

.container__footer-right-item-second span:last-child {
  color: #666666;
  font-weight: 400;
  font-size: 14px;
}

.container__footer-right-item-second span:first-child {
  font-weight: 700;
}
.container__footer-right-item-second span:nth-child(3) {
  font-weight: 700;
}

.container__footer-right-item-three {
  display: flex;
  height: 100%;
  width: 50px;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
}
