.form {
    background-color: #FFFFFF;
    border-radius: 4px;
    opacity: 100%;
    width: 324px;
    /* height: 528px; */
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
}

/* form header  */
.form__header p {
    font-weight: 700;
    font-size: 24px;
    color: #1F1F1F;
    margin: 32px 0 32px 32px;
}

/* form content  */
.form__content {
    margin-left: 32px;
}

.form__content--element {
    margin-bottom: 24px;
    box-sizing: border-box;
}

.form__label {
    color: #1F1F1F;
    font-family: Roboto Medium;
    font-weight: 500;
    font-size: 14px;
    display: block;
    margin-bottom: 8px;
}

.form__input {
    background-color: #FFFFFF;
    border: 1px #E0E0E0 solid;
    opacity: 100%;
    width: 260px;
    height: 36px;
    border-radius: 4px;
    padding-left: 8px;
}


.form__input:focus {
    border: 1px solid #50B83C;
    outline: none;
}

/* .form__input:focus:hover {
    border: 1px solid #50B83C;
    outline: none;
} */

.form__input:hover {
    background-color: #F6F6F6;
    /* border: 1px solid #EBEBEB; */
}

.form__input--dob {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    color: #9E9E9E;
    /* appearance: none; */
}
input[type="date"]::-webkit-calendar-picker-indicator {
    display: block;
    background-image: url(../../assets/icon/Sprites.64af8f61.svg);
    background-repeat: no-repeat;
    background-position: -128px -312px;
    width: 20px;
    height: 20px;
    border-width: thin;
}


/* radio  */
.radio {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

#sex {
    margin-bottom: 12px;
}

.form__input--last {
    margin-bottom: 32px;
}

/* tạo nút radio tròn */
input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
}

input[type="radio"]::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #707070;
    background-color: #FFFFFF;
    margin-right: 8px;
}
/* Chưa tìm thấy màu khi checked */
input[type="radio"]:checked::before { 
    background-color: #707070;
    /* border: #1F1F1F; */
}


.input--date {
    position: relative;
}
#icon--calendar {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-image: url(../../assets/icon/Sprites.64af8f61.svg);
    background-position: -128px -312px;
    background-color: none;
    border: none;
    position: absolute;
    top: 8px;
    right: 32px;
}

/* form footer */
.form__footer {
    justify-content: space-between;
    align-items: center;
    /* overflow: auto; */
    margin-top: auto;
}

.group-btn {
    float: right;
}

#btn2 {
    height: 32px;
    margin: 0 32px 32px 12px;
}

#btn1 {
    height: 32px;
    margin-bottom: 32px;
}