.container {
    display: flex;
    flex-direction: row;
    /* overflow: hidden; */
}

.sidebar {
    background-color: #041434;
    width: 200px;
    height: 100vh;
}

.sidebar__header {
    /* display: inline-block; */
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #041434;
}

.sidebar__header img {
    width: 30px;
    height: 30px;
    display: inline-block;
}
.sidebar__header p {
    display: inline-block;
    color: #FFFFFF;
    font-size: 14px;
    margin-left: 8px;
    font-weight: 500;
}

.sidebar__header .toggle-icon {
    display: inline-block;
    background-image: url(../../assets/icon/Sprites.64af8f61.svg);
    background-repeat: no-repeat;
    background-position: -428px -92px;
    width: 16px;
    height: 16px;
    margin-left: 32px;
}

.sidebar__header .bran {
    display: flex;
    align-items: center;
    margin-right: 32px;
}

.sidebar__main {
    height: calc(100% - 56px);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.sidebar__main .option {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    height: 44px;
    width: 176px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.sidebar__main .option:hover {
    background-color: #A7C4FF;
}
.option__icon {
    margin-left: 15px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-image: url(../../assets/icon/Sprites.64af8f61.svg);
}

.option__content {
    margin-left: 8px;
}

#icon--overview {
    background-position: -33px -1630px;
}
#icon--cash {
    background-position: -78px -1631px;
}
#icon-deposit {
    background-position: -121px -1633px;
}
#icon--purchase {
    background-position: -165px -1632px;
}
#icon--sell {
    background-position: -206px -1631px;
}
#icon--bill {
    background-position: -254px -1632px;
}
#icon--warehouse {
    background-position: -294px -1632px;
}
#icon--tools {
    background-position: -339px -1633px;
}   
#icon--tax {
    background-position: -427px -1634px;
}
#icon--fixed-assets {
    background-position: -382px -1632px;
}
#icon--price {
    background-position: -471px -1633px;
}
#icon--general {
    background-position: -514px -1632px;
}
#icon--budget {
    background-position: -382px -1664px;
}
#icon--report{
    background-position: -552px -1636px;
}
#icon--financial-analysis {
    background-position: -207px -1667px;
}

/* Phần content page */
.content {
    width: calc(100vw - 200px);
    display: flex;
    flex-direction: column;
    /* padding-bottom: 12px; */
    /* overflow: auto;  */
}

.content__header {
    background-color: #FFFFFF;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
}
.header--left {
    display: flex;
    align-items: center;
    justify-content: center;
}
#icon--toggle-button {
    margin-left: 20px;
    margin-right: 20px;
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    background-image: url(../../assets/icon/Sprites.64af8f61.svg);
    background-position: -847px -35px;
}

.content__header .header__title {
    font-weight: 500;
    font-size: 14px;
    /* justify-content: center; */
    /* text-align: center; */
    /* margin: auto; */
    /* vertical-align:middle; */
}

.content__header .arrowdown1 {
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    background-image: url(../../assets/icon/Sprites.64af8f61.svg);
    background-position: -1129px -360px;
    margin-left: 12px;
    background-color: #FFFFFF;
    border: none;
}

#icon--notification {
    margin-right: 24px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-image: url(../../assets/icon/Sprites.64af8f61.svg);
    background-position: -788px -30px;
}

#icon--profile-user {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-image: url(../../assets/icon/Sprites.64af8f61.svg);
    background-position:  -352px -894px;;
    border-radius: 50%;
    margin-right: 8px;
    /* scale: 0.6; */
}
#username {
    font-weight: 700;
}
.arrowdown2 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url(../../assets/icon/Sprites.64af8f61.svg);
    background-position: -1078px -25px;
    margin-left: 12px;
    background-color: #FFFFFF;
    border: none;
}
.header--right {
    display: flex;
    align-items: center;
}

.content__main {
    background-color: #F1F2F1;
    height: calc(100vh - 56px);
    padding: 24px 24px;
    /* height: 100%; */
}

.main__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 24px;
}

.main__tittle {
    font-weight: 700;
    font-size: 24px;
}
.content__data {
    background-color: #FFFFFF;
    height: 100%;
    padding-top: 24px;
    padding: 24px 12px 12px 12px;
    height: calc(100vh - 180px); 
}
.data__search {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 12px;
}

#icon--search {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-image: url(../../assets/icon/Sprites.64af8f61.svg);
    background-position: -620px -31px;
    margin-left: 12px;
    background-color: #FFFFFF;
    border: none;
    position: absolute;
    top: 8px;
    right: 8px;
}  
.search__form {
    position: relative;
} 

.search__form input {
    font-style: italic;
}

#icon--refresh {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-image: url(../../assets/icon/Sprites.64af8f61.svg);
    background-position: -425px -201px;
    margin-left: 12px;
    background-color: #FFFFFF;
    border: none;
}

.content__data .table {
    overflow-x: auto;
    overflow-y: auto;
    /* height: 350px; */
}

.content__data table {
    min-width: 100%;
    height: 200px;
}
.content__data table th:last-child {
    text-align: center;
}

.content__data table td:last-child {
    text-align: center;
}

.content__data table thead {
    position: sticky;
    top: 0px;
}
