.row__content-textfield {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* flex-direction: row; */
    width: 100%;
}

.tf {
    opacity: 100%;
    border-radius: 4px;
    width: 260px;
    height: 36px;
}

.tf__label {
    display: block;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 8px;
}

/* textfield normal */

.tf--normal:focus {
    border: 1px solid #50B83C;
    outline: none;
}

.tf--normal:hover {
    background-color: #F6F6F6;
    /* border: 1px solid #EBEBEB; */
    outline: none;
}

.tf--normal {
    background-color: #FFFFFF;
    border: 1px #EBEBEB solid;
    opacity: 100%;
    padding-left: 12px;
}

.tf--normal::placeholder {
    font-family: Roboto;
    color: #9E9E9E;
    font-size: 14px;
    line-height: 10px;
}

/* textfield error  */

.tf--error {
    background-color: #FFFFFF;
    border: 1px #E61D1D solid;
    margin-bottom: 8px;
    padding-left: 12px;
}

.tf--error:focus {
    border: 1px solid #E61D1D;
    outline: none;
}
.tf--error-message {
    color: #E61D1D;
    font-size: 12px;
    line-height: 0;
    /* margin-top: 6px; */
}

/* Textfield read only */
.tf--readonly {
    background-color: #EBEBEB;
    border: 1px solid #E0E0E0;
    font-size: 12px;
    font-weight: 400;
    line-height: 11px;
    color: #666666;
    padding-left: 12px;
}

.tf--readonly:focus {
    outline: none;
}