@media screen and (max-width: 1920px) {
    /* Các kiểu CSS áp dụng khi kích thước màn hình lớn hơn hoặc bằng 1920px */
    /* ... */
    .container__right-popup {
        width: 1050px;
        height: 670px;
        padding: 32px 32px 0 32px;
    }
    .container__right-popup-body {
        margin-top: 32px;
    }

    .container__right-popup-body-top-left div{
        margin-bottom: 16px;
    }
    .container__right-popup-body-bottom{
        margin-top: 32px;
    }
    .container__popup-footer{
        margin-top: 48px;
    }
    .container__right-popup-body-bottom div:nth-child(2) div{
        margin-top: 20px;
    }
    .container__right-popup-body-bottom div:nth-child(3) div{
        margin-top: 20px;
    }
}

@media screen and (max-width: 1366px) {

    /* Các kiểu CSS áp dụng khi kích thước màn hình nhỏ hơn hoặc bằng 1366px */
    .container__right-popup {
        width: 1050px;
        height: 670px;
        padding: 32px 32px 0 32px;
    }

    .container__right-popup-body {
        margin-top: 32px;
    }
    .container__right-popup-body-top-left div{
        margin-bottom: 16px;
    }
    .container__right-popup-body-bottom{
        margin-top: 32px;
    }
    .container__popup-footer{
        margin-top: 48px;
    }
    .container__right-popup-body-bottom div:nth-child(2) div{
        margin-top: 20px;
    }
    .container__right-popup-body-bottom div:nth-child(3) div{
        margin-top: 20px;
    }
}

@media screen and (max-width: 1236px) {

    .container__right-popup {
        width: 90%;
        height: 90%;
        padding: 24px 24px 0 24px;
    }
    .container__right-popup-body {
        margin-top: 16px;
    }
    .container__right-popup-body-top-left div{
        margin-bottom: 8px;
    }
    .container__right-popup-body-bottom{
        margin-top: 16px;
    }
    .container__popup-footer{
        margin-top: 16px;
    }
    .container__right-popup-body-bottom div:nth-child(2) div{
        margin-top: 12px;
    }
    .container__right-popup-body-bottom div:nth-child(3) div{
        margin-top: 12px;
    }

    /* Màn hình trình duyệt máy tính 1366px */
    /* Các kiểu CSS áp dụng khi kích thước màn hình nhỏ hơn hoặc bằng 1236px */
}