@import url("./components/button.css");
@import url("./components/combobox.css");
@import url("./components/dialog.css");
@import url("./components/input.css");
@import url("./components/popup.css");
@import url("./components/table.css");
@import url("./components/toastmessage.css");
@import url("./components/icons.css");

@font-face {
  font-family: "roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "roboto";
  src: url("../assets/fonts/Roboto-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "roboto";
  src: url("../assets/fonts/Roboto-Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: "roboto";
  src: url("../assets/fonts/Roboto-Medium.ttf");
  font-weight: 500;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "roboto";
}

body {
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}
