@import url("./base/button.css");
@import url("./base/combobox.css");
@import url("./base/dialog.css");
@import url("./base/input.css");
@import url("./base/popup.css");
@import url("./base/table.css");
@import url("./base/toastmessage.css");
@import url("./base/icons.css");
@import url("./_responsive.css");

@font-face {
  font-family: "roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "roboto";
  src: url("../assets/fonts/Roboto-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "roboto";
  src: url("../assets/fonts/Roboto-Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: "roboto";
  src: url("../assets/fonts/Roboto-Medium.ttf");
  font-weight: 500;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "roboto";
}

body {
  width: 100%;
  height: 100vh;
}

.container {
  display: flex;
}

.container__left {
  width: 200px;
  height: 100vh;
  background-color: #2d272d;
}

.container__left-sidebar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.container__left-sidebar ul li {
  list-style: none;
  display: flex;
  align-items: center;
  width: 100%;
  height: 44px;
  padding-left: 16px;
  cursor: pointer;
}

.container__left-sidebar ul li:hover {
  background-color: rgba(128, 128, 128, 0.154);
}

.container__left-sidebar ul li:first-child:hover {
  background-color: transparent;
}

.container__left-sidebar ul li span {
  margin-left: 10px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}

.container__left-sidebar ul li:first-child {
  padding: 16px 24px;
}
.container__left-sidebar ul li:first-child img {
  height: 36px;
  margin-left: 10px;
}

.container__left-sidebar ul li:first-child span {
  color: #ffffff;
  font-weight: 500;
  margin-left: 4px;
}

.container__right {
  width: calc(100vw - 200px);
  height: 100vh;
  background-color: #eeeeee;
  position: relative;
  overflow: hidden;
}

.container__right-navbar {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  justify-content: space-between;
}

.container__right-navbar-left,
.container__right-navbar-right {
  display: flex;
  align-items: center;
}

.container__right-navbar-left {
  padding: 10px 16px;
}

.container__right-navbar-right {
  padding: 12px 16px;
}

.container__right-navbar-left span {
  font-size: 14px;
  color: #1f1f1f;
  font-weight: 500;
  margin-left: 20px;
}

.container__right-navbar-right span {
  font-size: 12px;
  color: rgb(128, 128, 128);
  font-weight: 700;
  margin-left: 4px;
}

.container__right-main {
  width: 100%;
  height: auto;
  padding: 12px;
}

.container__right-main-top {
  width: 100%;
  height: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container__right-main-top span {
  font-size: 24px;
  font-weight: 700;
  color: #1f1f1f;
}

.container__right-search {
  height: 66px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0 12px;
}
.container__right-search-wrap{
  width: auto;
  height: 36px;
  display: flex;
  align-items: center;
}
.container__right-search-input {
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  position: relative;
}

.container__right-main-body {
  width: 100%;
  background-color: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 12px;
  border-radius: 4px;
}

.container__right-table {
  width: 100%;
  padding: 0 12px;
  height: auto;
  max-height: calc(100vh - 245px);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container__right-main-footer {
  height: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 0 12px;
}

.container__right-main-footer > div {
  height: 100%;
  width: 100%;
  padding: 0 10px;
}

.container__right-main-footer div:first-child {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
}

.container__right-table-item {
  width: 100%;
  height: auto;
  max-height: calc(100vh - 245px);
  overflow: auto;
  height: 672px;
}

.container__right-main-footer-left {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #1f1f1f;
}
.container__right-main-footer-right {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #1f1f1f;
}

.container__right-main-footer-right select {
  margin-right: 20px;
  height: 30px;
  font-size: 14px;
  color: #1f1f1f;
  outline: none;
  border: 1px solid rgba(128, 128, 128, 0.212);
}

.container__right-main-footer-right select option {
  padding: 20px;
}

.container-pages-item-selected {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid gray;
}

.container__right-pages {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.container__right-pages ul {
  width: 120px;
  padding: 0 10px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container__right-pages ul li {
  list-style: none;
  cursor: pointer;
}

.container__right-pages span:first-child {
  color: gray;
}

.container__right-overlay {
  background-color: rgba(128, 128, 128, 0.314);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  display: none;
}


.container__right-overlay-transparent{
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
}


.container__dropdown-wraper {
  width: 200px;
  height: 36px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(128, 128, 128, 0.338);
  align-items: center;
  margin-right: 20px;
  position: relative;
  border-radius: 3px;
}

.container__dropdown-wraper-list {
  width: 200px;
  height: auto;
  position: absolute;
  bottom: 40px;
  background-color: #ffffff;
  border: 1px solid rgba(128, 128, 128, 0.338);
  border-radius: 3px;
}

.container__dropdown-wraper-list.active {
  display: block;
}

.container__dropdown-wraper-list li {
  width: 200px;
  height: 36px;
  display: flex;
  align-items: center;
  padding: 8px;
  font-size: 14px;
  color: #1f1f1f;
  cursor: pointer;
}

.container__dropdown-wraper-list li:hover {
  background-color: #089740;
  color: white;
}

.container__dropdown-wraper.active {
  border: 1px solid #089740;
}

.container__dropdown-wraper-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 164px;
  font-size: 14px;
  color: 1;
  cursor: pointer;
}

.container__dropdown-wraper-icon {
  width: 34px;
  height: 34px;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.table-list-option.hidden {
  display: none;
}

.container__footer-right-item span {
  font-size: 24px;
}

.footer__pagesize-list {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 40px;
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  z-index: 999999;
}

.footer__pagesize-list li {
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__pagesize-list li:hover {
  background-color: #50b83c;
  color: white;
}

.footer-icon{
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}