@import url("./components/button.css");
@import url("./components/combobox.css");
@import url("./components/dialog.css");
@import url("./components/input.css");
@import url("./components/popup.css");
@import url("./components/table.css");
@import url("./components/toastmessage.css");
@import url("./components/icons.css");

@font-face {
  font-family: "roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "roboto";
  src: url("../assets/fonts/Roboto-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "roboto";
  src: url("../assets/fonts/Roboto-Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: "roboto";
  src: url("../assets/fonts/Roboto-Medium.ttf");
  font-weight: 500;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "roboto";
}

body {
  width: 100%;
  height: 100vh;
}

.container {
  display: flex;
}

.container__left {
  width: 200px;
  height: 100vh;
  background-color: #041434;
}

.sidebar__header {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: #041434;
  padding-left: 32px;
}

.sidebar__header-bran {
  display: flex;
  align-items: center;
  margin-right: 32px;
}

.sidebar__header img {
  width: 30px;
  height: 30px;
  display: inline-block;
}

.sidebar__header p {
  display: inline-block;
  color: #FFFFFF;
  font-size: 14px;
  margin-left: 8px;
  font-weight: 500;
}

.sidebar__main {
  height: calc(100vh - 56px);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.sidebar__main .option {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 14px;
  height: 44px;
  width: 176px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.sidebar__main .option:hover {
  background-color: #A7C4FF;
}
.option__icon {
  margin-left: 15px;
  width: 20px;
}
.option__content {
  margin-left: 8px;
}

.container__right {
  width: calc(100vw - 200px);
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #eeeeee;
  position: relative;
  /* overflow: hidden; */
}

.container__right-navbar {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.container__right-navbar-left,
.container__right-navbar-right {
  display: flex;
  align-items: center;
}

.container__right-navbar-left {
  padding: 10px 16px;
}

.container__right-navbar-right {
  padding: 12px 16px;
}

.container__right-navbar-left span {
  font-size: 14px;
  color: #1f1f1f;
  font-weight: 500;
  margin-left: 20px;
}

.container__right-navbar-right span {
  font-size: 12px;
  color: rgb(128, 128, 128);
  font-weight: 700;
  margin-left: 4px;
}

.container__right-main {
  width: 100%;
  height: auto;
  padding: 12px;
}

.container__right-main-top {
  width: 100%;
  height: 68px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}
.container__right-main-top span {
  font-size: 24px;
  font-weight: 700;
  color: #1f1f1f;
}

.container__right-search {
  height: 66px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  padding: 0 12px;
}

.container__right-search-input {
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  position: relative;
}

.container__right-main-body {
  width: 100%;
  background-color: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 12px;
  padding-left: 12px;
  border-radius: 4px;
}

.container__right-table {
  width: 100%;
  /* padding: 0 12px; */
  height: auto;
  /* margin-left: 16px; */
  max-height: calc(100vh - 245px);
  overflow: auto;
  position: relative;
}

.container__right-main-footer {
  height: 48px;
  /* position: absolute; */
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
  position: sticky;
  bottom: 0;
  left: 0;
}

.container__right-main-footer-left {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #1f1f1f;
}
.container__right-main-footer-right {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #1f1f1f;
}

.container__right-main-footer-right select {
  margin-right: 20px;
  height: 30px;
  font-size: 14px;
  color: #1f1f1f;
  outline: none;
  border: 1px solid rgba(128, 128, 128, 0.212);
}

.container__right-main-footer-right select option {
  padding: 20px;
}

.container-pages-item-selected {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid gray;
}

.container__right-pages {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.container__right-pages ul {
  width: 120px;
  padding: 0 10px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container__right-pages ul li {
  list-style: none;
  cursor: pointer;
}

.container__right-pages span:first-child{
  color: gray;
}

.container__right-pages ul li:first-child {
  border: 1px solid gray;
  border-radius: 4px;
  padding: 5px 10px;
}

.container__right-overlay {
  background-color: rgba(128, 128, 128, 0.314);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  display: none;
}

.container__dropdown-wraper{
  border-radius: 3px;
  width: 200px;
  height: 36px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(128, 128, 128, 0.338);
  align-items: center;
  margin-right: 20px;
  position: relative;
}

.container__dropdown-wraper-list{
  width: 200px;
  height: auto;
  position: absolute;
  bottom: 37px;
  background-color: #FFFFFF;
  border: 1px solid rgba(128, 128, 128, 0.338);
  display: none;
}

.container__dropdown-wraper-list.active{
  display: block;
}

.container__dropdown-wraper-list li{
  width: 200px;
  height: 36px;
  display: flex;
  align-items: center;
  padding: 8px;
  font-size: 14px;
  color: #1f1f1f;
  cursor: pointer;
}

.container__dropdown-wraper-list li:hover{
  background-color: #089740;
  color: white;
}

.container__dropdown-wraper.active{
  border: 1px solid #089740;
}

.container__dropdown-wraper-item{
  /* border-radius: 4px; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 164px;
  font-size: 14px;
  color: 1;
  cursor: pointer;
}


.container__dropdown-wraper-icon{
  width: 34px;
  height: 34px;
  background-color: #EEEEEE;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* .tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  padding: 5px 5px;
  white-space: nowrap;

  position: absolute;
  top: 100%;
  left: 100%;
  transform: translateX(-50%);
  z-index: 3 !important;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
} */
